/* ==========================================================================
   Normalize
   ========================================================================== */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/* ==========================================================================
 Element styles
 ========================================================================== */

body {
  background-color: #c6c6c6;
  font: Verdana 100%;
  min-width: 900px;
}

nav {
  margin-top: -15px;
  margin-bottom: 35px;
}


/* ==========================================================================
 Custom styles
 ========================================================================== */

@font-face {
  font-family: 'SnowCap'; 
  src: url('/fonts/SnowtopCaps.otf');
}

@font-face {
  font-family: 'Fire'; 
  src: url('/fonts/GUEVARA_.ttf');
}

/*** header ***/
#title {
  margin: auto;
  margin-top: 150px;
  text-align: center;
  width: 900px;
}

#hotTitle {
  padding-left: 10px;
  margin-bottom: -15px;
  color: red;
  font: 2em 'Fire';
}

#orTitle {
  color: #3b3b3b;
  font: 1em 'Denk One'
}

#coldTitle {
  color: blue;
  font: 2em 'SnowCap';
}

.navButton {
  color: #3b3b3b;
  font: 1em 'Denk One';
  background-color: #d8d8d8;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 5px;
  width: 100px
}

.navButton:hover {
  background-color: #a8a8a8;
}

/*** instructions ***/
#instructions {
  display: none;
  margin: auto;
  width: 500px;
}

/*** main game wrapper ***/
#inputWrapper {
  margin: 0 auto 150px;
  text-align: center;
  width: 900px;
}

#guessWrapper {
  border: 2px solid black;
  border-radius: 150px;
  height: 45px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 850px;
}

#guessButton {
  border: none;
  outline: none;
  width: 35px;
}

.answer {
  color: rgba(56, 2, 2, 0.62);
  border: 2px solid black;
  border-radius: 100%;
  background-color: red;
  font: 1em 'Fire';
  line-height: 68px;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -14px;
  left: -10px;
}

#redBox {
  background-color: red;
  height: 41px;
  width: 20px;
  position: absolute;
  top: 12px;
  left: 55px;
}

/*** user input ***/
.userGuess {
  border-radius: 100%;
  border: 2px dashed black;
  outline: none;
  height: 70px;
  text-align: center;
  width: 70px;
}

/*** thermometer lines ***/
.lineWrapper {
  position: absolute;
  left: 113px;
}

.longLine, .shortLine{
  border-left: 2px solid black;
  height: 10px;
  padding-right: 10px;
  width: 2px;
}

.shortLine{
  height: 10px;
}

.longLine {
  height: 23px;
}


/*** guesses placement ***/
#guesses {
  font-size: .8em;
  margin-left: 35px;
  width: 875px;
}

.iceCold, .cold, .warm, .hot, .veryHot {
  height: 45px;
}

.iceCold {
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #0A33FF 100%);
  margin-left: 55px;
  width: 315px;
}

.cold {
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #7AABFF 100%);
  width: 180px;
}

.warm {
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFBABA 100%);
  width: 150px;
}

.hot {
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FF6E6E 100%);
  width: 90px;
}

.veryHot {
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FF0000 100%);
  width: 57px;
}

/*** hints ***/
#hintWrapper {
  height: 50px;
  font: 2em 'Denk One';
  margin: 15px auto;
  text-align: center;
  width: 850px;
}

#correct {
  color: red;
  font-family: 'Trade Winds';
  display: none;
}

#error {
  font-size: .6em;
  display: none;
}

#iceColdHint, #coldHint, #warmHint, #hotHint, #veryHotHint {
  display: none;
}

#iceColdHint {
  color: blue;
  font-family: 'SnowCap';
}

#coldHint {
  color: #7AABFF;
}

#warmHint {
  color: #ff9f9f;
}

#hotHint {
  color: #ff3b3b;
}

#veryHotHint {
  color: red;
  font-family: 'Fire';
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/** {
  outline: 1px solid red;
}*/
